a:not([href]):not([tabindex]) {
    color: hotpink;
}

.btn-dark {
    background-color: hotpink;
    border-color: hotpink;
}

.text-pink {
    color: hotpink;
}

.table-set {
    /* border: 1em; */
    /* border-collapse: collapse; */
    border-radius: 1em;
    overflow: hidden;
}

.border-radius {
    /* border: 1em; */
    /* border-collapse: collapse; */
    border-radius: 1em;
    overflow: hidden;
}

.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}

.no-border {
    border-radius: 0;
    border: 0;
}